<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>Ergo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <script src="javascripts/AdminViewController.js"></script>
    <script src="javascripts/AdminController.js"></script>
    <script src="javascripts/AdminStartscreenController.js"></script>
    <script src="javascripts/AlgemeneAccountinstellingenController.js"></script>
    <script src="javascripts/Signal.js"></script>
    <script src="javascripts/SignalBinding.js"></script>
    <script src="javascripts/AdminControllerAllUsers.js"></script>
</head>
<body>
    <div ng-view class="login-Register transparant"></div>
</body>
</html>
