<!DOCTYPE html>
<html>
<head>
    <title>Ergo - Endscreen</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../Scripts.js/Module.js"></script>

</head>
<body>
    <div ng-app="App" ng-controller="MainCtrl">
        <h1>Bedankt</h1>
        <div>
            U gegevens zijn opgeslagen in de database. <br>
            onderaan vindt u, uw behaalde Totale LBI score en de LBI score per subschaal terug. <br>
            U kan de vragenlijst opnieuw beantwoorden of uitlogen<br>
        </div>

        <h4>Totaal LBI score:</h4>
        <div>56</div>
        <h4>LBI subschalen:</h4>
        <h5>Gezondheid</h5>
        <div>56</div>
        <h5>Relaties</h5>
        <div>56</div>
        <h5>Identiteit</h5>
        <div>56</div>
        <h5>Uitdaging/interesse</h5>
        <div>56</div>

        <button ng-click="">{{button3}}</button>
        <button ng-click="">{{button4}}</button>
</div>
</body>
</html>
