head
    meta(charset='utf-8')
    |     
    title
  body
    form(action='/login' method='POST')
      | Username
      input(type='text', name='username', placeholder='Username')
      |        Passwoord
      |        
      input(type='password', name='password', placeholder='Password')
      |        
      input(type='submit', value='Login')
