

extends layout

block content

    h1 Login pagina

    // / Wrapper
    #Wrapper

    #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputPassword(type='password', placeholder='Paswoord')
                br
                button#Login Login
                button#btnAddUser Add User
    // /ADD USER

