<!DOCTYPE html>
<html>
<head>
    
    <title>Ergo - questionlist</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../Scripts.js/Module.js"></script>
    <script data-required="angular-route@*" data-semver="1.2.14" src="../packages/AngularJS.Route.1.4.7/content/Scripts/angular-route.js"></script>

</head>
<body id="questionlist">
    <div ng-app="App" ng-controller="MainCtrl">
        <div ng-repeat="item in questionlist">
            <h1>{{item.Subdomain}}</h1>
            <div ng-repeat="choice in item.Question">
                <div ng-if="NextStepBool == false || choice.checked == true">
                    <div>
                        <input ng-if="NextStepBool == false" ng-model="choice.checked" type="checkbox">
                    </div>
                    <div>{{choice.Text}}</div>
                    <div ng-if="NextStepBool == true">
                        <div ng-repeat="radio in radioData">
                            <input type="radio" name="{{choice.ID}}" ng-model="choice.Quoting" id="radio_{{$index}}" ng-value="radio.value" />
                            <label for="radio_{{$index}}">{{radio.Rating}}</label>                         
                        </div>
                        <!-- radiobuttons zonder ng-repeat
                        <label class="radio-inline"><input ng-model="Quoting" name="Q1" type="radio" >ALTIJD MINDER dan ik wil</label>
                        <label class="radio-inline"><input ng-model="Quoting" name="Q1" type="radio">SOMS MINDER dan ik wil</label>
                        <label class="radio-inline"><input ng-model="Quoting" name="Q1" type="radio">ONGEVEER IDEAAL voor mij</label>
                        <label class="radio-inline"><input ng-model="Quoting" name="Q1" type="radio">SOMS MEER dan ik wil</label>
                        <label class="radio-inline"><input ng-model="Quoting" name="Q1" type="radio"> ALTIJD MEER dan ik wil</label>
                        -->

                    </div>
                </div>
            </div>
        </div>

        <button ng-if="NextStepBool == false" ng-click="NextStep()">{{button1}}</button>
        <button ng-if="NextStepBool == true" ng-click="NextStep2()">{{button2}}</button>
        
        
        <h1 style="text-decoration: underline;">DEBUG</h1>
        <pre>{{questionlist}}}</pre>


    </div>
</body>
</html>
