<div>
    <h1>Welkom</h1>

    <!--
    <div ng-repeat="item in questionlist">
        <div class="row">
            <h1 ng-if="NextStepBool == false || ISChecked(item.Subdomain)">{{item.Subdomain}}</h1>
            <div ng-repeat="choice in item.Question">
                <div ng-if="NextStepBool == false || choice.checked == true">
                    <input ng-if="NextStepBool == false" ng-model="choice.checked" type="checkbox">
                    {{choice.Text}}
                    <div ng-if="NextStepBool == true">
                        <div ng-repeat="radio in radioData">
                            <div class="col-xs-12 paddingleft30">
                                <input type="radio" name="{{choice.ID}}" ng-model="choice.Quoting" id="radio_{{$index}}" ng-value="radio.value" />
                                <label for="radio_{{$index}}">{{radio.Rating}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <!--
    <h4>Totaal LBI score:</h4>
    <div>Gemiddelde van ingevulde activiteiten</div>
    <div class="results">{{results.totaalScore}}</div>
    <h4>LBI subschalen:</h4>

    <h5>Gemiddelde Subdomein Gezondheid</h5>
    <div class="results">{{results.subGezondheid}}</div>
    <h5>Gemiddelde Subdomein Relaties</h5>
    <div class="results">{{results.subRelaties}}</div>
    <h5>Gemiddelde Subdomein Identiteit</h5>
    <div class="results">{{results.subIdentiteit}}</div>
    <h5>Gemiddelde Subdomein UitdagingIntresse</h5>
    <div class="results">{{results.subUitdaging}}</div>


    <div class="row paddingTop50">
        <button class="btn btn-primary" ng-click="Button3click()">{{button3}}</button>
        <button class="btn btn-primary" ng-click="Button4click()">{{button4}}</button>
    </div>
        -->
</div>

