<div class="container">
    <h1>Welkom</h1>
    <div class="row col-xs-12 ">
        <button class="floatright btn btn-primary" ng-click="AlgemeneAccountinstellingen()"><span class="glyphicon glyphicon-cog" /></button>
        <button ng-click="logout()" class="floatright btn btn-primary">logout</button>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="row">
                <label class="col-xs-12">Geef hier een naam of id in van de persoon die u zoekt</label>
                <input class="col-xs-12" type="text" ng-model="search" />
                <select class="col-xs-12" ng-change="GetData()" ng-options="item.name for item in Userlist | filter:search | orderBy:'name'" multiple size="10" ng-model="selectedUSER"></select>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div ng-if="selectedUSER[0] != null" class="row paddingTop50">
                <div class="col-xs-12 col-md-9 col-md-offset-2 col-sm-offset-1 col-sm-10 list-group-item">
                    <div class="row">
                        <label class="col-xs-12 col-sm-3 ">id:</label>
                        <div class="col-xs-12 col-sm-6">{{selectedUSER[0]._id}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-sm-3 ">naam:</label>
                        <div class="col-xs-12 col-sm-6">{{selectedUSER[0].name}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-sm-3 ">Leeftijd:</label>
                        <div class="col-xs-12 col-sm-6">{{selectedUSER[0].age}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-sm-3 ">tel.:</label>
                        <div class="col-xs-12 col-sm-6">{{selectedUSER[0].telefoon}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-sm-3 ">email</label>
                        <div class="col-xs-12 col-sm-6">{{selectedUSER[0].email}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-sm-3 ">Username:</label>
                        <div class="col-xs-12 col-sm-6">{{selectedUSER[0].username}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="selectedUSER[0] != null" class="row col-sm-4 ">
            <div class="paddingTop50">
                <div class="transparant list-group-item">
                    <h4>Totaal LBI score:</h4>
                    <div class="row">
                        <label>Gemiddelde van ingevulde activiteiten</label>
                        <div class="paddingleft30" ng-if="scorelist.totaalScore">{{scorelist.totaalScore}}</div>
                        <div class="paddingleft30" ng-if="!scorelist.totaalScore">
                            <div>De gebruiker heeft een leeg formulier ingediend</div>
                        </div>
                    </div>
                </div>
                <div class="transparant list-group-item">
                    <h4>LBI subschalen:</h4>
                    <div class="row">
                        <label>Gemiddelde Subdomein Gezondheid</label>
                        <div class="paddingleft30" ng-if="scorelist.subGezondheid">{{scorelist.subGezondheid}}</div>
                        <div class="paddingleft30" ng-if="!scorelist.subGezondheid">De gebruiker beantwoorde geen vraag uit dit subdomein</div>
                    </div>
                    <div class="row">
                        <label>Gemiddelde Subdomein Relaties</label>
                        <div class="paddingleft30" ng-if="scorelist.subRelaties">{{scorelist.subRelaties}}</div>
                        <div class="paddingleft30" ng-if="!scorelist.subRelaties">De gebruiker beantwoorde geen vraag uit dit subdomein</div>
                    </div>
                    <div class="row">
                        <label>Gemiddelde Subdomein Identiteit</label>
                        <div class="paddingleft30" ng-if="scorelist.subIdentiteit">{{scorelist.subIdentiteit}}</div>
                        <div class="paddingleft30" ng-if="!scorelist.subIdentiteit">De gebruiker beantwoorde geen vraag uit dit subdomein</div>
                    </div>
                    <div class="row">
                        <label>Gemiddelde Subdomein UitdagingIntresse</label>
                        <div class="paddingleft30" ng-if="scorelist.subUitdaging">{{scorelist.subUitdaging}}</div>
                        <div class="paddingleft30" ng-if="!scorelist.subUitdaging">De gebruiker beantwoorde geen vraag uit dit subdomein</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paddingTop50 row col-sm-7 col-sm-offset-1 col-xs-12">
                <div class="transparant list-group">
                    <div class="answerlist">
                        <div class="list-group-item" ng-repeat="item in vragenlist[0].vragen">
                            <div>{{item.vraagnummer}}. {{item.text}}</div>
                            <div class="row">
                                <div>
                                    <div class="col-xs-1 col-xs-offset-1">
                                        <div ng-if="item.score == null" class="NoAnswer" />
                                        <div ng-if="item.score == 1 || item.score == 4" class="BadAnswer col-xs-1 " />
                                        <div ng-if="item.score == 2 || item.score == 5" class="MedAnswer col-xs-1 " />
                                        <div ng-if="item.score == 3" class="GoodAnswer col-xs-1 " />
                                    </div>
                                    <div class="col-sm-10">
                                        <div ng-if="item.score == null">ONBEANTWOORD</div>
                                        <div ng-if="item.score == 1">ALTIJD MINDER dan ik wil</div>
                                        <div ng-if="item.score == 2">SOMS MINDER dan ik wil</div>
                                        <div ng-if="item.score == 3">ONGEVEER IDEAAL voor mij</div>
                                        <div ng-if="item.score == 5">SOMS MEER dan ik wil</div>
                                        <div ng-if="item.score == 4">ALTIJD MEER dan ik wil</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>

</div>

