<div class="container">
    <button class="floatright btn btn-primary" ng-click="back()"><span class="glyphicon glyphicon-circle-arrow-left" /></button>
        <h1>Welkom</h1>
    <div class="row">
        <div>
            <div class="transparant list-group-item">
                <h4>Totaal LBI score:</h4>
                <div class="row">
                    <label>Gemiddelde van alle gebruikers voor alle ingevulde activiteiten</label>
                    <div class="paddingleft30" ng-if="scorelistAll.TotaalScore">{{scorelistAll.TotaalScore}}</div>
                    <div class="paddingleft30" ng-if="!scorelistAll.TotaalScore">
                        <div>Geen enkele gebruiker heeft een formulier ingediend</div>
                    </div>
                </div>
            </div>
            <div class="transparant list-group-item">
                <h4>LBI subschalen:</h4>
                <div class="row">
                    <label>Gemiddelde van alle gebruikers voor Subdomein Gezondheid</label>
                    <div class="paddingleft30" ng-if="scorelistAll.subGezondheid">{{scorelistAll.subGezondheid}}</div>
                    <div class="paddingleft30" ng-if="!scorelistAll.subGezondheid">Geen enkele gebruiker beantwoorde een vraag uit dit subdomein</div>
                </div>
                <div class="row">
                    <label>Gemiddelde van alle gebruikers voor Subdomein Relaties</label>
                    <div class="paddingleft30" ng-if="scorelistAll.subRelaties">{{scorelistAll.subRelaties}}</div>
                    <div class="paddingleft30" ng-if="!scorelistAll.subRelaties">Geen enkele gebruiker beantwoorde een vraag uit dit subdomein</div>
                </div>
                <div class="row">
                    <label>Gemiddelde van alle gebruikers voor Subdomein Identiteit</label>
                    <div class="paddingleft30" ng-if="scorelistAll.subIdentiteit">{{scorelistAll.subIdentiteit}}</div>
                    <div class="paddingleft30" ng-if="!scorelistAll.subIdentiteit">Geen enkele gebruiker beantwoorde een vraag uit dit subdomein</div>
                </div>
                <div class="row">
                    <label>Gemiddelde van alle gebruikers voor Subdomein UitdagingIntresse</label>
                    <div class="paddingleft30" ng-if="scorelistAll.subUitdaging">{{scorelistAll.subUitdaging}}</div>
                    <div class="paddingleft30" ng-if="!scorelistAll.subUitdaging">Geen enkele gebruiker beantwoorde een vraag uit dit subdomein</div>
                </div>
            </div>
        </div>
    </div>
</div>

