<div class="row paddingbottom50 container" >
    <form  class="col-md-6 col-md-offset-3 col-ol-sm-offset-2" name="form" action="/user/Update" role="form" method="POST">
        <div>
            <label for="password">Password</label>
            <i class="fa fa-lock"></i>
            <input type="password" name="password" class="form-control"/>
        </div>
        <div>
            <label for="name">name</label>
            <input type="text" name="name" class="form-control" ng-model="userinfo.name" />
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="userinfo.email" />
            <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Een email adres moet volgende structuur hebben me@example.com</span>
        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" name="age" class="form-control" ng-model="userinfo.age"  />
        </div>
        <div>
            <label for="telefoon">Tel. Nr.</label>
            <input type="text" name="telefoon" class="form-control" ng-model="userinfo.telephone"  />
        </div>
        <div>
            <label for="Kinderen">Aantal kinderen</label>
            <input type="number" name="kinderen" class="form-control" ng-model="userinfo.kinderen"  />
        </div>
        <div>
            <label for="Sex">Sex</label>
            <div class="row results">
                <div class="col-xs-4">
                    <input class="" type="radio" value="Unisex" name="geslacht" ng-model="userinfo.geslacht"/>
                    Unisex
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Male" name="geslacht" ng-model="userinfo.geslacht" />
                    Male
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Female" name="geslacht" ng-model="userinfo.geslacht"/>
                    Female
                </div>
            </div>
        </div>
        <div>
            <label for="Diploma">Diploma</label>
            <div class="row results">
                <div class="col-xs-4">
                    <input type="radio" value="Universitair" name="diploma" ng-model="userinfo.diploma"  />
                    Universitair
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Hoger Onderwijs" name="diploma" ng-model="userinfo.diploma" />
                    Hoger Onderwijs
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Secundair Onderwijs" name="diploma" ng-model="userinfo.diploma" />
                    Secundair Onderwijs
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Lager Onderwijs" name="diploma" ng-model="userinfo.diploma"/>
                    Lager Onderwijs
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Geen" name="diploma" ng-model="userinfo.diploma"/>
                    Geen diploma
                </div>
            </div>
        </div>
        <div>
            <label for="BurgerlijkeStaat">BurgerlijkeStaat</label>
            <div class="row results">
                <div class="col-xs-4">
                    <input type="radio" value="Gehuwd" name="burg_statuut" ng-model="userinfo.burg_statuut"/>
                    Gehuwd
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Vrijgezel" name="burg_statuut" ng-model="userinfo.burg_statuut"/>
                    Vrijgezel
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="InEenRelatie" name="burg_statuut" ng-model="userinfo.burg_statuut"/>
                    In een relatie
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Verloofd" name="burg_statuut" ng-model="userinfo.burg_statuut"/>
                    Verloofd
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Weduw(e)/(naar)" name="burg_statuut" ng-model="userinfo.burg_statuut"/>
                    Weduw(e)/(naar)
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Gescheiden" name="burg_statuut" ng-model="userinfo.burg_statuut"/>
                    Gescheiden
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="brugpensioen" name="burg_statuut" ng-model="userinfo.burg_statuut"/>
                    brugpensioen
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Andere" name="burg_statuut" ng-model="userinfo.burg_statuut">
                    Andere
                </div>
            </div>
        </div>
        <div>
            <label for="huidskleur">Origine</label>
            <div class="row results">
                <div class="col-xs-4">
                    <input type="radio" value="Blank" name="huidskleur" ng-model="userinfo.huidskleur"  />
                    Blank
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Zwart" name="huidskleur" ng-model="userinfo.huidskleur"  />
                    Zwart
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Aziatisch" name="huidskleur" ng-model="userinfo.huidskleur"  />
                    Aziaat
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Latijns-Amerikaans" name="huidskleur" ng-model="userinfo.huidskleur"  />
                    Latijns-Amerikaans
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Afro-Amerikaans" name="huidskleur" ng-model="userinfo.huidskleur"  />
                    Afro-Amerikaans
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Indiaans" name="huidskleur" ng-model="userinfo.huidskleur"  />
                    Indiaans
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Arabisch" name="huidskleur" ng-model="userinfo.huidskleur"  />
                    Arabisch
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Inuit" name="huidskleur" ng-model="userinfo.huidskleur"  />
                    Inuit
                </div>
            </div>
        </div>
        <div>
            <label for="werkstatus">Werk status</label>
            <div class="row results">
                <div class="col-xs-4">
                    <input type="radio" value="Student" name="werkstatus" ng-model="userinfo.werkstatus"  />
                    Student
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Voltijds in dienst" name="werkstatus" ng-model="userinfo.werkstatus"  />
                    Voltijds in dienst
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="deeltijds in dienst" name="werkstatus" ng-model="userinfo.werkstatus"  />
                    deeltijds in dienst
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Zelfstandig" name="werkstatus" ng-model="userinfo.werkstatus"  />
                    Zelfstandig
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Werkzoekend" name="werkstatus" ng-model="userinfo.werkstatus"  />
                    Werk zoekend
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Gepensioneerd" name="werkstatus" ng-model="userinfo.werkstatus"  />
                    Gepensioneerd
                </div>
                <div class="col-xs-4">
                    <input type="radio" value="Andere" name="werkstatus" ng-model="userinfo.werkstatus"  />
                    Andere
                </div>
            </div>
        </div>
        <div class="paddingTop50 form-actions">
            <button ng-model="test" type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">update</button>
            <i ng-if="dataLoading" class="fa fa-spinner fa-spin"></i>
            <a href="#/" class="btn btn-link">Cancel</a>
        </div>
    </form>

    
</div>