<div class="bottom">
    <h1>Bedankt</h1>
    <div>
        U gegevens zijn opgeslagen in de database. <br>
        onderaan vindt u, uw behaalde Totale LBI score en de LBI score per subschaal terug. <br>
        U kan de vragenlijst opnieuw beantwoorden of uitlogen<br>
    </div>


    <div class="paddingTop50">
        <div class="row" >
            <div class="transparant col-lg-4 col-md-6 col-sm-8 list-group-item">
                <h4>Totaal LBI score:</h4>
                <div>Gemiddelde van ingevulde activiteiten</div>
                <div ng-if="results.totaalScore" class="results">{{results.totaalScore}}</div>
                <label class="paddingleft30" ng-if="!results.totaalScore">U hebt een leeg formulier ingediend</label>
            </div>
        </div>
        <div class="row">
            <div class="transparant col-lg-4 col-md-6 col-sm-8 list-group-item">
                <h4>LBI subschalen:</h4>
                <h5>Gemiddelde Subdomein Gezondheid</h5>
                <div ng-if="results.subGezondheid" class="results">{{results.subGezondheid}}</div>
                <label class="paddingleft30" ng-if="!results.subGezondheid">U hebt geen enkele vraag van dit subdomein ingevuld</label>
                <h5>Gemiddelde Subdomein Relaties</h5>
                <div class="results.subRelaties">{{results.subRelaties}}</div>
                <label class="paddingleft30" ng-if="!results.subRelaties">U hebt geen enkele vraag van dit subdomein ingevuld</label>
                <h5>Gemiddelde Subdomein Identiteit</h5>
                <div class="results.subIdentiteit">{{results.subIdentiteit}}</div>
                <label class="paddingleft30" ng-if="!results.subIdentiteit">U hebt geen enkele vraag van dit subdomein ingevuld</label>
                <h5>Gemiddelde Subdomein UitdagingIntresse</h5>
                <div class="results.subUitdaging">{{results.subUitdaging}}</div>
                <label class="paddingleft30" ng-if="!results.subUitdaging">U hebt geen enkele vraag van dit subdomein ingevuld</label>
            </div>
        </div>
    </div>
    

    <div class="row paddingTop50">
        <button class="btn btn-primary" ng-click="Button3click()">{{button3}}</button>
        <button class="btn btn-primary" ng-click="Button4click()">{{button4}}</button>
    </div>
</div>

