<div>
    <h1>Bedankt</h1>
    <div>
        U gegevens zijn opgeslagen in de database. <br>
        onderaan vindt u, uw behaalde Totale LBI score en de LBI score per subschaal terug. <br>
        U kan de vragenlijst opnieuw beantwoorden of uitlogen<br>
    </div>



    <h4>Totaal LBI score:</h4>
    <div>Gemiddelde van ingevulde activiteiten</div>
    <div class="results">{{results.totaalScore}}</div>
    <h4>LBI subschalen:</h4>
    
        <h5>Gemiddelde Subdomein Gezondheid</h5>
        <div class="results">{{results.subGezondheid}}</div>
        <h5>Gemiddelde Subdomein Relaties</h5>
        <div class="results">{{results.subRelaties}}</div>
        <h5>Gemiddelde Subdomein Identiteit</h5>
        <div class="results">{{results.subIdentiteit}}</div>
        <h5>Gemiddelde Subdomein UitdagingIntresse</h5>
        <div class="results">{{results.subUitdaging}}</div>
    

    <div class="row paddingTop50">
        <button class="btn btn-primary" ng-click="Button3click()">{{button3}}</button>
        <button class="btn btn-primary" ng-click="Button4click()">{{button4}}</button>
    </div>
</div>

