<div class="container">
    <form name="form">
        <div ng-repeat="item in questionlist">
            <div id="Top" class="row">
                <h1 ng-if="NextStepBool == false || ISChecked(item.Subdomain)">{{item.Subdomain}}</h1>
                <div ng-repeat="choice in item.Question">
                    <div ng-if="NextStepBool == false || choice.checked == true">
                        <input ng-if="NextStepBool == false" ng-model="choice.checked" type="checkbox">
                        <div ng-click="choice.checked = !choice.checked">{{choice.Text}}</div>
                        <div ng-if="NextStepBool == true">

                            <div ng-repeat="radio in radioData">
                                <div class="col-xs-12 paddingleft30">
                                    <input type="radio" name="{{choice.ID}}" ng-model="choice.Quoting" ng-required="!choice.Quoting" id="radio_{{$index}}" ng-value="radio.value" />
                                    <label for="radio_{{$index}}">{{radio.Rating}}</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row paddingTop50">
        <button class="btn btn-primary" ng-if="NextStepBool == false" ng-click="NextStep()">{{button1}}</button>
        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-if="NextStepBool == true" ng-click="NextStep2()">{{button2}}</button>
    </div>
</div>
