<div class="Container paddingbottom50">
    <div class="row">
        <form class="col-md-6 col-md-offset-3 col-ol-sm-offset-2" name="form" action="/adduser" role="form" method="POST">
            <div>
                <label for="username">Gebruikersnaam
                <input type="text" name="username" class="form-control" ng-model="Username" required /></label>
            </div>
            <div>
                <label for="password">Passwoord</label>
                <i class="fa fa-lock"></i>
                <input type="password" name="password" class="form-control" ng-model="Password" required />
            </div>
            <div>
                <label for="name">naam</label>
                <input type="text" name="name" class="form-control" ng-model="name" required />
            </div>
            <div>
                <label for="email">email</label>
                <input type="email" id="email" name="email" class="form-control" ng-model="email" required />
                <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Een email adres moet volgende structuur hebben me@example.com</span>
            </div>
            <div>
                <label for="age">Leeftijd</label>
                <input type="number" name="age" class="form-control" ng-model="Age" required />
            </div>
            <div>
                <label for="telefoon">Tel. Nr.</label>
                <input type="text" name="telefoon" class="form-control" ng-model="telefoon" required />
            </div>
            <div>
                <label for="Kinderen">Aantal kinderen</label>
                <input type="number" name="kinderen" class="form-control" ng-model="kinderen" required />
            </div>
            <div>
                <label for="Sex">Geslacht</label>
                <div class="row results">
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Male" name="geslacht" ng-model="Sex" required />
                        Male
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Female" name="geslacht" ng-model="Sex" required />
                        Female
                    </label>
                </div>
            </div>
            <div>
                <label for="Diploma">Diploma</label>
                <div class="row results">
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Universitair" name="diploma" ng-model="Diploma" required />
                        Universitair
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Hoger Onderwijs" name="diploma" ng-model="Diploma" required />
                        Hoger Onderwijs
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Secundair Onderwijs" name="diploma" ng-model="Diploma" required />
                        Secundair Onderwijs
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Lager Onderwijs" name="diploma" ng-model="Diploma" required />
                        Lager Onderwijs
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Geen" name="diploma" ng-model="Diploma" required />
                        Geen diploma
                    </label>
                </div>
            </div>
            <div>
                <label for="BurgerlijkeStaat">BurgerlijkeStaat</label>
                <div class="row results">
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Gehuwd" name="burg_statuut" ng-model="BurgerlijkeStaat" required />
                        Gehuwd
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Vrijgezel" name="burg_statuut" ng-model="BurgerlijkeStaat" required />
                        Vrijgezel
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="InEenRelatie" name="burg_statuut" ng-model="BurgerlijkeStaat" required />
                        In een relatie
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Verloofd" name="burg_statuut" ng-model="BurgerlijkeStaat" required />
                        Verloofd
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Weduw(e)/(naar)" name="burg_statuut" ng-model="BurgerlijkeStaat" required />
                        Weduw(e)/(naar)
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Gescheiden" name="burg_statuut" ng-model="BurgerlijkeStaat" required />
                        Gescheiden
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Andere" name="burg_statuut" ng-model="BurgerlijkeStaat" required />
                        Andere
                    </label>
                </div>
            </div>
            <div>
                <label for="huidskleur">Origine</label>
                <div class="row results">
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Blank" name="huidskleur" ng-model="huidskleur" required />
                        Blank
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Zwart" name="huidskleur" ng-model="huidskleur" required />
                        Zwart
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Aziatisch" name="huidskleur" ng-model="huidskleur" required />
                        Aziaat
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Latijns-Amerikaans" name="huidskleur" ng-model="huidskleur" required />
                        Latijns-Amerikaans
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Afro-Amerikaans" name="huidskleur" ng-model="huidskleur" required />
                        Afro-Amerikaans
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Indiaans" name="huidskleur" ng-model="huidskleur" required />
                        Indiaans
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Arabisch" name="huidskleur" ng-model="huidskleur" required />
                        Arabisch
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Inuit" name="huidskleur" ng-model="huidskleur" required />
                        Inuit
                    </label>
                    </div>
                    </div>
            <div>
                <label for="werkstatus">Werk status</label>
                <div class="row results" >
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Student" name="werkstatus" ng-model="werkstatus" required />
                        Student
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Voltijds in dienst" name="werkstatus" ng-model="werkstatus" required />
                        Voltijds in dienst
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="deeltijds in dienst" name="werkstatus" ng-model="werkstatus" required />
                        deeltijds in dienst
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Zelfstandig" name="werkstatus" ng-model="werkstatus" required />
                        Zelfstandig
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Werkzoekend" name="werkstatus" ng-model="werkstatus" required />
                        Werk zoekend
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Gepensioneerd" name="werkstatus" ng-model="werkstatus" required />
                        Gepensioneerd
                    </label>
                    <label class="col-sm-4 col-xs-12">
                        <input type="radio" value="Andere" name="werkstatus" ng-model="werkstatus" required />
                        Andere
                    </label>
                </div>
            </div>
            <div>
                <label>Admin</label>
                <input ng-model="AdminCheckbox" type="checkbox" />
            </div>
            <div ng-if="AdminCheckbox">
                <label>AdminPassword</label>
                <input name="APass" type="password" class="form-control" />
            </div>
            <div class="paddingTop50 form-actions">
                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn-primary">Register</button>
                <i ng-if="dataLoading" class="fa fa-spinner fa-spin"></i>
                <a href="#/" class="btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
<!--Bart Kerstens & Stijn Schrauwen--> 