<div class="Container paddingbottom50">
    <div class="row">
        <form class="col-md-6 col-md-offset-3 col-ol-sm-offset-2" name="form" action="/adduser" role="form" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" ng-model="Username" required />
            </div>
            <div>
                <label for="password">Password</label>
                <i class="fa fa-lock"></i>
                <input type="password" name="password" class="form-control" ng-model="Password" required />
            </div>
            <div>
                <label for="name">name</label>
                <input type="text" name="name" class="form-control" ng-model="name" required />
            </div>
            <div>
                <label for="email">email</label>
                <input type="email" id="email" name="email" class="form-control" ng-model="email" required />
                <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Een email adres moet volgende structuur hebben me@example.com</span>
            </div>
            <div>
                <label for="age">Age</label>
                <input type="number" name="age" class="form-control" ng-model="Age" required />
            </div>
            <div>
                <label for="Sex">Sex</label>
                <div class="form-control">
                    <div class="col-xs-4">
                        <input class="" type="radio" value="Unisex" name="geslacht" ng-model="Sex" required />
                        <label>Unisex</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Male" name="geslacht" ng-model="Sex" required />
                        <label>Male</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Female" name="geslacht" ng-model="Sex" required />
                        <label>Female</label>
                    </div>
                </div>
            </div>
            <div>
                <label for="Kinderen">Aantal kinderen</label>
                <input type="number" name="kinderen" class="form-control" ng-model="kinderen" required />
            </div>
            <div>
                <label for="Diploma">Diploma</label>
                <div class="row paddingleft30">
                    <div class="col-xs-4">
                        <input type="radio" value="Universitair" name="diploma" ng-model="Diploma" required />
                        <label>Universitair</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Hoger Onderwijs" name="diploma" ng-model="Diploma" required />
                        <label>Hoger Onderwijs</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Secundair Onderwijs" name="diploma" ng-model="Diploma" required />
                        <label>Secundair Onderwijs</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Lager Onderwijs" name="diploma" ng-model="Diploma" required />
                        <label>Lager Onderwijs</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Geen" name="diploma" ng-model="Diploma" required />
                        <label>Geen diploma</label>
                    </div>
                </div>
            </div>
            <div>
                <label for="BurgerlijkeStaat">BurgerlijkeStaat</label>
                <div class="row paddingleft30">
                    <div class="col-xs-4">
                        <input type="radio" value="Gehuwd" name="Burg_statuut" ng-model="BurgerlijkeStaat" required />
                        <label>Gehuwd</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Vrijgezel" name="Burg_statuut" ng-model="BurgerlijkeStaat" required />
                        <label>Vrijgezel</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="InEenRelatie" name="Burg_statuut" ng-model="BurgerlijkeStaat" required />
                        <label>In een relatie</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Verloofd" name="Burg_statuut" ng-model="BurgerlijkeStaat" required />
                        <label>Verloofd</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Weduw(e)/(naar)" name="Burg_statuut" ng-model="BurgerlijkeStaat" required />
                        <label>Weduwe/Weduwenaar</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Gescheiden" name="Burg_statuut" ng-model="BurgerlijkeStaat" required />
                        <label>Gescheiden</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="brugpensioen" name="Burg_statuut" ng-model="BurgerlijkeStaat" required />
                        <label>brugpensioen</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Andere" name="werkstatus" ng-model="werkstatus" required />
                        <label>Andere</label>
                    </div>
                </div>
            </div>
            <div>
                <label for="Huidskleur">Origine</label>
                <div class="row paddingleft30">
                    <div class="col-xs-4">
                        <input type="radio" value="Blank" name="Huidskleur" ng-model="Huidskleur" required />
                        <label>Blank</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Zwart" name="Huidskleur" ng-model="Huidskleur" required />
                        <label>Zwart</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Aziatisch" name="Huidskleur" ng-model="Huidskleur" required />
                        <label>Aziaat</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Latijns-Amerikaans" name="Huidskleur" ng-model="Huidskleur" required />
                        <label>Latijns-Amerikaans</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Afro-Amerikaans" name="Huidskleur" ng-model="Huidskleur" required />
                        <label>Afro-Amerikaans</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Latijns-Amerikaans" name="Huidskleur" ng-model="Huidskleur" required />
                        <label>Indiaans</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Indiaans" name="Huidskleur" ng-model="Huidskleur" required />
                        <label>Arabisch</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Arabisch" name="Huidskleur" ng-model="Huidskleur" required />
                        <label>Inuit</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Inuit" name="Huidskleur" ng-model="Huidskleur" required />
                    </div>
                    </div>
                    </div>
            <div>
                <label for="werkstatus">Werk status</label>
                <div class="row paddingleft30" >
                    <div class="col-xs-4">
                        <input type="radio" value="Student" name="werkstatus" ng-model="werkstatus" required />
                        <label>Student</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Voltijds in dienst" name="werkstatus" ng-model="werkstatus" required />
                        <label>Voltijds in dienst</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="deeltijds in dienst" name="werkstatus" ng-model="werkstatus" required />
                        <label>deeltijds in dienst</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Zelfstandig" name="werkstatus" ng-model="werkstatus" required />
                        <label>Zelfstandig</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Werkzoekend" name="werkstatus" ng-model="werkstatus" required />
                        <label>Werk zoekend</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Gepensioneerd" name="werkstatus" ng-model="werkstatus" required />
                        <label>Gepensioneerd</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" value="Andere" name="werkstatus" ng-model="werkstatus" required />
                        <label>Andere</label>
                    </div>
                </div>
            </div>
            <div>
                <label for="telefoon">Tel. Nr.</label>
                <input type="text" name="telefoon" class="form-control" ng-model="telefoon" required />
            </div>
            <div>
                <label>Admin</label>
                <input ng-model="AdminCheckbox" type="checkbox" />
            </div>
            <div ng-if="AdminCheckbox">
                <label>AdminPassword</label>
                <input name="APass" type="password" class="form-control" />
            </div>
            <div class="paddingTop50 form-actions">
                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Register</button>
                <i ng-if="dataLoading" class="fa fa-spinner fa-spin"></i>
                <a href="#/" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>