<div class="container">
    <h1>Welkom</h1>
    <div class="row paddingTop50 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" >
        <div class="row list-group-item">
            <button class="btn-primary col-xs-12 col-sm-2" ng-click="Startclick()">start</button>
            <div class="col-sm-10 col-xs-12">Doe hier de test. U zal eerst moeten aanduiden op welke vragen u wilt antwoorden. Daarna zal u deze vragen ook werkelijk kunnen beantwoorden.
            Na elke vraag die u wou beantwoorden te hebben beantwoord, kan u de vragen lijst indienen.</div>
        </div>
        <div class="row list-group-item">
            <button class="btn-primary col-xs-12 col-sm-2" ng-click="Resultsclick()">Results</button>
            <div class="col-sm-10 col-xs-12" >Bekijk hier de eventuele resultaten van vorig afgenomen testen.</div>
        </div>
        <div class="row list-group-item">
            <button class="btn-primary col-xs-12 col-sm-2" ng-click="Configclick()">Config</button>
            <div class="col-sm-10 col-xs-12">Pas hier u persoonlijke gegevens zoals email en telefoon nummer aan.</div>
        </div>
        <div class="row list-group-item">
            <button class="btn-primary col-xs-12 col-sm-2" ng-click="Uitloggenclick()">logout</button>
        </div>
    </div>
</div>