body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Ergo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 80% auto;
}

    button { 
        font-size:14px;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

@media (max-width: 768px) {
    body {
          background-image: url("../images/Ergo.png");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: bottom;
          background-size: 80% auto;
          font-size: 20px

    }
    h1 { font-size: 48px;}
    h4 { font-size: 32px;}
    h5 { font-size: 24px;}
    button { 
        font-size:20px;
    }
  }

.padding5 {
    padding: 5px
}
.margin5 {
    margin: 5px
}

a {
  color: #00B7FF;
}

.paddingleft30 {
    padding-left: 30px;
}
    
.results {
    padding-bottom: 20px;
    padding-left: 30px;
}
.paddingTop20 {
    padding-top: 20px;
}
.paddingTop40 {
    padding-top: 40px;
}
.paddingTop50 {
    padding-top: 50px;
}
.paddingTop140 {
    padding-top: 140px;
}
.paddingbottom50 {
    padding-bottom: 50px;
}

.answerlist {

    overflow-y:auto; 
    max-height:319px;
}

.BadAnswer {
height:12px;
width:12px;
float:right;
padding:5px;
background-color:red
}

.GoodAnswer {
height:12px;
width:12px;
float:right;
padding:5px;
background-color:green
}

.MedAnswer {
height:12px;
width:12px;
float:right;
padding:5px;
background-color:orange
}

.NoAnswer {
height:12px;
width:12px;
float:right;
padding:5px;
background-color:black;
}

.bottom {
margin-bottom: 100px;
}

.transparant {
opacity: 0.95;
}

.login-Register {
background-color:white;
}

.floatright {
float:right;
margin:5px;
}
