body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.paddingleft30 {
    padding-left: 30px;
}
    
.results {
    padding-bottom: 20px;
    padding-left: 30px;
}

.paddingTop50 {
    padding-top: 50px;
}

h4 {
margin-top: 50px
}

.answerlist {
    margin-left:-15px;
    margin-right:-60px;
    overflow-y:auto; 
    max-height:298px;
}

.BadAnswer {
height:16px;
background-color:red
}

.GoodAnswer {
height:16px;
background-color:green
}

.MedAnswer {
height:16px;
background-color:orange
}

.NoAnswer {
height:16px;
background-color:black
}