body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Ergo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 80% auto;
}

a {
  color: #00B7FF;
}

.paddingleft30 {
    padding-left: 30px;
}
    
.results {
    padding-bottom: 20px;
    padding-left: 30px;
}

.paddingTop40 {
    padding-top: 40px;
}
.paddingTop50 {
    padding-top: 50px;
}
.paddingbottom50 {
    padding-bottom: 50px;
}

.answerlist {

    overflow-y:auto; 
    max-height:319px;
}

.BadAnswer {
height:12px;
width:12px;
float:right;
padding:5px;
background-color:red
}

.GoodAnswer {
height:12px;
width:12px;
float:right;
padding:5px;
background-color:green
}

.MedAnswer {
height:12px;
width:12px;
float:right;
padding:5px;
background-color:orange
}

.NoAnswer {
height:12px;
width:12px;
float:right;
padding:5px;
background-color:black;
}

.bottom {
margin-bottom: 100px;
}

.transparant {
opacity: 0.95;
}

.login-Register {
background-color:white;
}

.floatright {
float:right;
margin:5px;
}
